@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "fullpage.js/dist/jquery.fullpage";


// VARIABLES

$font_bold:   700;
$font_normal: 400;
$font_light:  300;

$font_main: 'Roboto', sans-serif;
$font_alt:  'Roboto Condensed', sans-serif;

$grey:  #e7e7e7;
$blue:  #0275d8;
$black: #000;
$white: #fff;
$red:   #f90429;


// GENERAL

html {
    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }
}

body {
    text-align: center;
    font-family: $font_main;
    font-weight: $font_normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_alt;
    font-weight: $font_light;
}

b, strong {
    font-family: $font_main;
    font-weight: $font_bold;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn {
    display: block;
    padding: 0.6rem 0.8rem;
    color: $blue;
    border: 0.125rem solid $blue;
    text-decoration: none;
    font-size: 1rem;
    font-family: $font_alt;
    font-weight: $font_light;
    background-color: rgba($white, 0.8);

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-sm {
    padding: 0.3rem 0.4rem;
}

.list-unstyled {
    padding-left: 0;

    li {
        margin-left: 0;
        list-style: none;
    }
}

.text-lg {
    line-height: 1;
    font-size: 3rem;
}

.text-xl {
    line-height: 1;
    font-size: 4rem;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
}


// HEADER

header {
    .container {
        position: relative;
    }

    .brand {
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        margin: 1rem;

        .btn {
            color: $red;
            border-color: $red;
        }

        img {
            height: 1.8rem;
        }
    }

    .menu {
        z-index: 999;
        font-size: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 0.5rem;

        a {
            &.active {
                color: $black;
                border-color: $black;
            }
        }

        ul > li {
            float: left;
            margin: 1rem 0.5rem;
        }
    }
}


// ABOUT ME

.about {
    background: radial-gradient($white, $grey);
}


// WORKS

.works {
    .img-responsive {
        max-height: calc(100vh - 16rem);
    }
}

.fp-controlArrow {
    &.fp-prev{
        border-color: transparent $grey transparent transparent;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &.fp-next {
        border-color: transparent transparent transparent $grey;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}


// CONTACTS

.contacts {
    background: radial-gradient($white, $grey);
}